pre{background:transparent;}
h1{visibility: hidden;}
.swagger-ui .scheme-container{margin:0 0 20px;background:#fff;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.15);box-shadow:0 1px 2px 0 rgba(0,0,0,.15);}
