WAF_APP_PORT=3000
WAF_APP_HOST=0.0.0.0

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DB=postgres
DATABASE_PORT=5432
DATABASE_HOST=postgres-server
DATABASE_DATA_DIRECTORY=../app/waf/data

OS_AUTH_URL=http://10.250.13.51:5000/v3
OS_USERNAME=wafaas
OS_PASSWORD=91153c85b8dd4147
OS_TENANT_ID=5d873cbc8e194e20b0db211a82f3b472
# Required if identity version is v3
OS_DOMAIN_NAME=Default

# Optional
OS_REGION_NAME=regionOne
OS_INTERFACE=public

# Possible useful variable.
#OS_AVAILABLE_ZONE=nova

# OnBoarding Parameters
DO_ENDPOINT=http://do-server:80
DO_BIGIQ_HOST=10.250.15.105
DO_BIGIQ_USERNAME=admin
DO_BIGIQ_PASSWORD=admin
DO_BIGIQ_POOL=mykeypool

ASG_HOST=asg-server
ASG_PORT=443
AS3_HOST=as3-server
AS3_PORT=443
