export PRODUCT_RELEASE=1

export WAF_APP_PORT=3000
export WAF_APP_HOST=0.0.0.0

export DATABASE_USER=postgres
export DATABASE_PASSWORD=postgres
export DATABASE_DB=postgres

export DATABASE_PORT=5432
export DATABASE_DATA_DIRECTORY=../app/waf/data

export OS_AUTH_URL=http://10.145.116.217:35357/v2.0
export OS_USERNAME=wafaas
export OS_PASSWORD=91153c85b8dd4147
export OS_TENANT_ID=14bf5399dcc54a5f9d08c4e05cf2555c
# Required if identity version is v3
export OS_DOMAIN_NAME=Default

# Optional
#export OS_REGION_NAME==RegionOne
#export OS_INTERFACE=public

# Possible useful variable.
#export OS_AVAILABLE_ZONE=nova
